<div class="container">
    <h1 class="title"><b>ABOUT</b></h1>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/SELLER/Default/2021/6/IN/JR/BY/6725292/post-covid-two-new-1-500x500.jpg"
                    alt="">

                <div class="card-body">
                    <br>
                    <h3 class="card-text">
                        Well educated and trained lab Technicians are available who plays crucial role in our diagnostic
                        center
                    </h3>

                    <a href="#" class="btn btn-outline-primary btn-sm">
                        More Info
                    </a>
                    <a href="#" class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://media.springernature.com/m685/springer-static/image/art%3A10.1038%2Fs41392-021-00731-z/MediaObjects/41392_2021_731_Fig1_HTML.png"
                    alt="">

                <div class="card-body">
                    <br>
                    <h3 class="card-text">
                        Focused vision of applying advanced technologies for the development of world class products
                        with unsurpassed quality.
                    </h3>

                    <a href="#" class="btn btn-outline-primary btn-sm">
                        More Info
                    </a>
                    <a href="#" class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcOHZNATL-o4lArwS-UeAVIsqxgM12uPY1Jg&usqp=CAU"
                    alt="">

                <div class="card-body">
                    <br>
                    <h3 class="card-text">
                        We use best quality, effective, safe and affordable diagnostic products based on user
                        requirement
                    </h3>

                    <a href="#" class="btn btn-outline-primary btn-sm">
                        More Info
                    </a>
                    <a href="#" class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h1>Our Values</h1>
        <br>
        <h3>Diagnostic Centre helps facilitate the provision of timely, affordable and state-of-art diagnostic care in a
            safe and secure environment. At Vijaya Diagnostic Centre, we understand that high quality and reliable
            diagnostic findings are critical for superior clinical outcomes. Our Diagnostic space is equipped with
            instruments and devices of highest technical standards and managed by the most skilled Radiologists &
            Pathologists thereby meeting the needs of the physicians and patients. We keep track of the technological
            advancements and offer our customers access to the latest developments in diagnostic medicare. To achieve
            consistent safety and quality, we comply with the most stringent quality and ethical norms. We continuously
            expand our value-added services to better serve patients with dignity, respect and compassion.</h3>

    </div>

    <div>
        <h1>Mission</h1>
        <br>
        <h3>Our Mission is to make the patient’s medical journey faster, more transparent and more accurate. We are
            committed to deliver exceptional diagnostic solutions to every patient and physician.</h3>
    </div>

    <div>
        <h1>Vision</h1>
        <br>
        <h3>Our Vision is to provide reliable and accurate diagnostic services to our customers, at affordable prices,
            in a customer-centric manner. We strive to provide the best service possible. We are continually raising our
            own bar through the latest technology, continuous improvement and recruitment of high calibre technicians
            and professional.</h3>
    </div>

    <div class="contact">
        <h1>CONTACT US</h1>
        <br>
        <h3>
            ourdiagnostic@gmail.com<br>
            9103367890<br>
            social media:

        </h3>
        <i class="fa fa-google-plus-square fa-2x"></i>&nbsp;&nbsp;
        <i class="fa fa-instagram fa-2x"></i>&nbsp;&nbsp;
        <i class="fa fa-twitter-square fa-2x"></i>

    </div>
</div>